<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.0-ci0083" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.0-ci0083" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.0-preview.5.23280.8" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TwitchLib" version="3.5.3" targetFramework="net472" />
  <package id="TwitchLib.Api" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Core" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Enums" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Models" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Helix" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Api.Helix.Models" version="3.10.0-preview-e47ba7f" targetFramework="net472" />
  <package id="TwitchLib.Client" version="4.0.0-preview-deb4b0211f3b93a533a8dd81cbf77d9fa3173bea" targetFramework="net472" />
  <package id="TwitchLib.Client.Enums" version="4.0.0-preview-deb4b0211f3b93a533a8dd81cbf77d9fa3173bea" targetFramework="net472" />
  <package id="TwitchLib.Client.Models" version="4.0.0-preview-deb4b0211f3b93a533a8dd81cbf77d9fa3173bea" targetFramework="net472" />
  <package id="TwitchLib.Communication" version="2.0.0-preview-b5bf10f12e8d7c9d0a82f7f5026dccdf97a97c41" targetFramework="net472" />
  <package id="TwitchLib.EventSub.Core" version="2.4.3" targetFramework="net472" />
  <package id="TwitchLib.EventSub.Websockets" version="0.5.0-preview-72088d1" targetFramework="net472" />
  <package id="TwitchLib.PubSub" version="4.0.0-preview-338562750e3acbfd53424c32ae9de8f44ae4ef15" targetFramework="net472" />
</packages>