<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Domande.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.DispatchProxy" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Domande.Properties.Settings>
      <setting name="FontTipo" serializeAs="String">
        <value>Segoe Print</value>
      </setting>
      <setting name="FontPX" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>#800080</value>
      </setting>
      <setting name="Risposta" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Posizione" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColoreSfondo" serializeAs="String">
        <value>#00C000</value>
      </setting>
      <setting name="BOX1" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX2" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX3" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX4" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX5" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX6" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX7" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX8" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX9" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX11" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX12" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX13" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX14" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX15" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX16" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX17" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX18" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX19" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX20" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX21" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX22" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX23" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX24" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX25" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX26" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX27" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX28" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX29" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX30" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX31" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX32" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX33" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX34" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX35" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX36" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX37" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX38" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX39" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX40" serializeAs="String">
        <value />
      </setting>
      <setting name="BOX10" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
    </Domande.Properties.Settings>
  </userSettings>
</configuration>